.topic.filtered .post {
    display: none;
}

.topic.filtered .post.topicpost,
.topic.filtered .post.filteredPost {
    display: block;
}

.post.topicpost .charlist {
    position: relative;
    padding: 16px 12px;
    display: flex;
    flex-wrap: wrap;
}

.post.topicpost .charlist ul {
    padding: 8px 12px;
    flex: 33% 0 0;
    box-sizing: border-box;
}

.post.topicpost .charlist .charlist_divider {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    margin: 12px 0 8px;
    display: none;
}

.post.topicpost .charlist .charlist_item {
    cursor: pointer;
}

.post.topicpost .charlist .hvClearFilters {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    font-style: italic;
    padding: 2px 4px;
}

.post.topicpost .charlist li.active {
    background-color: #eee;
    border-radius: 8px;
    padding: 2px 4px;
}